#loginContainer
	position absolute
	width 100%
	height 100%
	left 0
	top 0
	background url('../img/log.jpg')
	background-size cover
	background-position center center
	
	.login-box-holder
		max-width 500px
		width 100%
		
		.login-box
			background #fff
			border-radius 5px
			padding 10px 20px
			box-shadow 0 20px 30px -5px rgba(0,0,0,.1)
			transition .3s
			
			.typ-h1
				padding 10px
				
			.submit-btn
				margin-top 40px