.btn
	padding 15px 10px
	text-transform uppercase
	letter-spacing 1px
	background #4a79c4 !important
	border none !important
	transition .1s
	color #fff
	
	&-success
		background #71b954 !important
		
	&:hover
		opacity 1
		transform scale(1.02, 1.02)
		
	&.btn-clear
		background transparent !important
		border 1px solid #4a79c4 !important
		color #4a79c4
		
		&.white
			color #fff !important
			border 1px solid #fff !important