.flex
	display flex
	
	.flex-1
		flex 1
		
.flex-align-center
	align-items center
	
.flex-justify-center
	justify-content center
	
.flex-direction-column
	flex-direction column

.flex-direction-row
	flex-direction row
	
.flex-wrap
	flex-wrap wrap