@import './utils/fonts';
@import './base/typography';
@import './base/buttons';
@import './utils/helpers';
@import './base/foundation';
@import './base/headings';
@import './base/flex';
@import './settings';
@import './components/header';
@import './components/login';
@import './components/textinput';

//GENERAL STYLES
body
	font-size 12px
	color #222
	background-color #333
a,
button
	outline none !important

[role=button]
	cursor pointer

.bg-icon
	position absolute
	right 0
	bottom 0
	transform scale(10)
	opacity 0.3

// FONT SIZE PRESETS
.text
	&-small
		font-size 10px
	
	&-medium
		font-size 12px
	
	&-large
		font-size 14px
	
	&-xlarge
		font-size 16px
	
	&-h1
		font-size 25px
	
	&-h2
		font-size 20px
		
	&-jumbo
		font-size 40px
		
	&-right
		text-align right
		
	&-left
		text-align left
		
	&-center
		text-align center
		
	&-justify
		text-align justify
	
	&-success
		color #54ad6f
		
	&-warning
		color #ef9638
		
	&-danger
		color #e02121
	
//PADDING PRESETS
.padded
	padding 5px !important
	
	&-10
		padding 10px !important
	
	&-15
		padding 15px !important
		
	&-20
		padding 20px !important
		
	&-30
		padding 30px !important
	
	&-50
		padding 50px !important
		
	&-none
		padding 0 !important

.pad-sides
	padding-left 5px !important
	padding-right 5px !important
	
	&-10
		padding-left 10px !important
		padding-right 10px !important
		
	&-15
		padding-left 15px !important
		padding-right 15px !important
	
	&-20
		padding-left 20px !important
		padding-right 20px !important
	
	&-50
		padding-left 50px !important
		padding-right 50px !important
		
	&-none
		padding-left none !important
		padding-right none !important
		
.pad-right
	padding-right 5px !important
	
	&-10
		padding-right 10px !important
		
	&-15
		padding-right 15px !important
	
	&-20
		padding-right 20px !important
		
	&-none
		padding-right none !important
		
.pad-left
	padding-left 5px !important
	
	&-10
		padding-left 10px !important
		
	&-15
		padding-left 15px !important
	
	&-20
		padding-left 20px !important
		
	&-none
		padding-left none !important

.pad-top
	padding-top 5px !important
	
	&-10
		padding-top 10px !important
		
	&-15
		padding-top 15px !important
	
	&-20
		padding-top 20px !important
		
	&-none
		padding-top none !important
		
.pad-bottom
	padding-bottom 5px !important
	
	&-10
		padding-bottom 10px !important
		
	&-15
		padding-bottom 15px !important
	
	&-20
		padding-bottom 20px !important
		
	&-none
		padding-bottom none !important
		

// MARGIN PRESETS
.margin
	margin 5px !important
	
	&-10
		margin 10px !important
	
	&-15
		margin 15px !important
		
	&-20
		margin 20px !important
		
	&-none
		margin 0 !important

.margin-top
	margin-top 5px !important
	
	&-10
		margin-top 10px !important
	
	&-15
		margin-top 15px !important
		
	&-20
		margin-top 20px !important
	
	&-30
		margin-top 30px !important
		
	&-none
		margin-top 0 !important
		
.margin-bottom
	margin-bottom 5px !important
	
	&-10
		margin-bottom 10px !important
	
	&-15
		margin-bottom 15px !important
		
	&-20
		margin-bottom 20px !important
		
	&-none
		margin-bottom 0 !important
		
.margin-left
	margin-left 5px !important
	
	&-10
		margin-left 10px !important
	
	&-15
		margin-left 15px !important
		
	&-20
		margin-left 20px !important
		
	&-none
		margin-left 0 !important
		
.margin-right
	margin-right 5px !important
	
	&-10
		margin-right 10px !important
	
	&-15
		margin-right 15px !important
		
	&-20
		margin-right 20px !important
		
	&-none
		margin-right 0 !important

.margin-sides
	margin-left 5px !important
	margin-right 5px !important
	
	&-10
		margin-left 10px !important
		margin-right 10px !important
		
	&-15
		margin-left 15px !important
		margin-right 15px !important
	
	&-20
		margin-left 20px !important
		margin-right 20px !important
		
	&-none
		margin-left none !important
		margin-right none !important
		
// SCALE PRESETS
.scale-down
	&-50
		transform scale(0.5, 0.5)
		filter blur(3px)
			
.scale-out
	transform scale(0, 0);
	
// BG COLOR PRESETS
.bg
	&-primary
		background-color #67a0bf !important
	
	&-success
		background-color #54ad6f !important
		
	&-warning
		background-color #ef9638 !important
	
	&-danger
		background-color #e02121 !important
		
.bg-image
	&-full
		background-size cover
		background-position center
	&-contain
		background-size contain

.bg-no-repeat
	background-repeat no-repeat

.bg-pos
	&-center
		background-position center
	&-right
		background-position right
	&-left
		background-position left
		
// ICON STYLES
.icon
	display inline-block

	i
		color #fff
		display flex
		align-items center
		justify-content center
	
	&.icon-small
		i
			width 20px
			height 20px

	&.icon-medium
		i
			width 22px
			height 22px
	
	&.icon-large
		i
			width 24px
			height 24px
	
	&.icon-xlarge
		i
			width 26px
			height 26px
	
	&.icon-h1
		i
			width 35px
			height 35px
	
	&.icon-h2
		i
			width 30px
			height 30px
	&-circular
		border-radius 100%

// ZINDEX PRESETS
.zindex
	z-index 1
	
	&-2
		z-index 2
	
	&-3
		z-index 3
	
	&-4
		z-index 4
	
	&-5
		z-index 5

// DISPLAY PRESETS
.inline-block
	display inline-block
// POSITION PRESETS
.absolute
	position absolute
	
	&.left-0
		left 0
	
	&.right-0
		right 0
		
	&.top-0
		top 0
		
	&.bottom-0
		bottom 0
		
	&.upper-left
		top 10px
		left 10px
	
	&.upper-right
		top 10px
		right 10px
	
	&.bottom-right
		bottom 10px
		right 10px

.relative
	position relative

.fixed
	position fixed

	&.left-0
		left 0
	
	&.right-0
		right 0
		
	&.top-0
		top 0
		
	&.bottom-0
		bottom 0
	
.out-of-bounds
	transition .3s
	
	&-right
		right -100%
		
		&.in
			right 0
			z-index 2
			
// DIMENSIONS
.full-height
	height 100%

.full-width
	width 100%

// HOVER PRESETS
.transitioned
	transition .2s
	
	&-3
		transition .3s
		
.hover
	
	&-transitioned
		transition .2s
		
	&-scale
		&:hover
			transform scale(1.2, 1.2)
	&-scale-min
		&:hover
			transform scale(1.05, 1.05)
	&-jello
		&:hover
			animation-name jello !important
	
	&-opacity
		&:hover
			opacity 0.6

.btn-xs 
	font-size 10px
	padding 5px
	color #ffffff
	text-transform uppercase
// LOGO PRESETS
.logo
	&-small
		max-width 200px

// OVERFLOW
.overflow
	&-hidden
		overflow hidden
			
// THUMBNAIL PRESETS
.thumb
	max-width 50px
	
	&-20
		max-width 20px
	
	&-25
		max-width 25px
		
	&-30
		max-width 30px

	&-40
		max-width 40px

	&-50
		max-width 50px
	
	&-75
		max-width 75px
		
	&-100
		max-width 100px
	
	&-150
		max-width 150px
	
	&-200
		max-width 200px
		
// ANIMATION ATTRIBUTES
.animated
	
	&.delayed
	
		&-1
			animation-delay 1s
		
		&-half
			animation-delay 0.5s
	
	&.duration
		
		&-5
			animation-duration 5s
			
// TOOLTIP
.tooltip
	.tooltip-inner
		background rgba(0 ,0 ,0 ,0.8)
	
	&.right
		.tooltip-arrow
			border-right-color rgba(0 ,0 ,0 ,0.8)
	
	&.left
		.tooltip-arrow
			border-left-color rgba(0 ,0 ,0 ,0.8)
	
	&.top
		.tooltip-arrow
			border-top-color rgba(0 ,0 ,0 ,0.8)
	
	&.bottom
		.tooltip-arrow
			border-bottom-color rgba(0 ,0 ,0 ,0.8)

// OPACITY
.faded
	opacity .5
	
	&-light
		opacity .8
		
//STYLE FOR REGISTRATION modules
#registrationContainer
	height 100%
	width 500px
	background #fff
	right 0
	top 0
	transition .3s

#sideNav
	position fixed
	background #171d26
	width 300px
	height 100%
	right 0
	top 0
	z-index 999
	display flex
	flex-direction column
	transform translateX(100%)
	transition .3s

	&.in
		transform translateX(0%)

	.user-image
		padding 30px 20px 
		display flex
		align-items center
		justify-content center
		text-align center
		position relative

		.dismiss
			padding 10px
			cursor pointer
			position absolute
			right 10px
			top 10px

		img 
			width 130px
			height 130px
			object-fit cover
			object-position center
			border-radius 100%

		.user-name
			margin-top 10px
			font-size 18px

		.user-type
			opacity 0.5

	.side-links
		flex 1
		background #151515
		overflow hidden
		padding 20px 0px

		ul
			list-style none

			li
				padding 10px 0
				transition .3s

				i
					width 30px
				
				a
					color inherit
					
				&:hover 
					transform translateX(10px)

.navigation
	background #444
	color #fff
	.header-menu
		background rgba(0,0,0,.5)
		box-shadow 0 5px 10px 0 rgba(0,0,0,.2)
		
		.avatar-container
			background linear-gradient(#eee, #aaa)
			// background-image url('../img/bgs/test_bg.jpg')
			background-size cover
			background-position center

			img
				height 150px
				width 75px
				object-fit contain
				object-position center
				animation-name breathe 
				animation-duration 1.5s
				animation-iteration-count infinite
				transform-origin 50% 100%
		
		.menu-container
			background rgba(0,0,0,.2);
			
		.exp-bar
			.bar
				width 100%
				height 15px
				background #aaa
				border-radius 3px
				overflow hidden
				
				.indicator
					width 50%
		
		.menu-toggable
			position relative
			transition .3s
			height 44px
			
			&.out
				width 0
				
			&.in
				width 270px
// DASHBOARD
#dashboard
	background-color #333
	// background url('../img/dashboard.jpg')
	background-size cover
	background-position center center
	background-attachment fixed
	min-height 100vh
	color #fff	
		
	.task-card
		width 28.33%
		margin 20px 2.5%
		background #252525
		border-radius 5px
		box-shadow 0 10px 20px -5px rgba(0, 0, 0, 0.3)

.leagues-page
	padding 20px 50px
	color #ffffff

	.league-list
		color #111111
		background #fff
		border-radius 5px
		padding 40px 20px

	.league-list,
	.tasks-list
		flex-wrap wrap
		margin-top 20px
		
		.wrap-1-3
			width 33.33%
			animation-name fadeIn
			animation-duration .7s
			animation-fill-mode forwards
			opacity 0
			position relative

			.badge-container
				position absolute
				right 20px
				top 5px
				z-index 5

				img
					width 30px
					margin-right 5px

				.empty-img
					width 30px
					height 30px
					border 2px dashed #cccccc
					border-radius 100%
					display inline-block
					margin-right 5px

			.card
				border-radius 5px
				padding 20px
				box-shadow 0 10px 30px -5px rgba(0, 0, 0, 0.6), 0 0 0 1px #111
				margin 20px 10px
				background #fff
				color #111111
				position relative
				overflow hidden

				.loader
					position absolute
					width 100%
					height 100%
					background rgba(0, 0, 0, 0.2)
					display flex
					align-items center
					justify-content center
					z-index 3
					
				.bg-icon
					position absolute
					right 0
					bottom 0
					transform scale(10)
					opacity 0.3

				i.fa-galactic-republic,
				i.fa-tasks
					color #aaa !important
					font-size 18px
					margin-top 3px
					margin-right 10px !important

				.task-actions
					opacity 0
					transform translateY(-20%)
					transition .3s

				.league-name
					font-size 18px
				
				.gm-name
					margin-top 5px

				.gm-date
					font-size 10px
					opacity 0.8

				.description
					 font-size 15px
				
				.status-part
					position absolute
					right 10px
					bottom 10px

					i
						font-size: 12px;
						font-weight: 700;
						line-height: 1;
						color: #fff !important;
						margin: 0 5px 0 0!important;

				.sm-label
					opacity 0.5
					font-size 0.8em

				&:hover
					.task-actions
						opacity 1
						transform translateY(0%)
	.tasks-list

		.wrap-1-3

			.card
				background #333
				color #fff
				min-height 250px

.tasks-page
	background-size cover
	background-position center center
	background-attachment fixed
	min-height 100vh
	padding 50px
	color #fff

	.filter
		max-width 400px
		width 100%
		
		.clan-filter
			.clan-holder
				padding 30px
				background #111
				border-radius 5px

				.clan-card
					padding 10px
					margin 5px 0
					border-radius 5px
					transition .2s

					i
						margin-right 5px
						
					&:hover
						background #ffffff
						color #111111

	.tasks-list
		padding 30px
		background #111
		margin-left 30px
		border-radius 5px

		.tasks
			margin-top 20px

			.task-card
				background #ffffff
				color #111111
				padding 20px 
				border-radius 5px
				margin-bottom 10px
				
				.task-id
					color #888

				.task-name
					font-size 20px
	
	#taskForm
		position fixed
		left 0
		top 0
		width 100%
		height 100%
		background rgba(255, 255, 255, 0.5)
		display flex
		align-items center
		justify-content center
		overflow-x auto
		
		.form-box
			background #111
			border-radius 5px
			padding 20px
			width 100%
			max-width 500px
			
			.title
				margin 0
				padding 0
				
			.form
				.form-group
					margin-top 20px

.modal
	position fixed
	width 100%
	height 100%
	background rgba(0, 0, 0, 0.5)
	// display flex
	// align-items center
	// justify-content center
	display block
	color #111
	transform scale(0)
	opacity 0
	transition .3s
	transition-delay .3s
	overflow auto

	.modal-box
		background #fff
		padding 20px
		border-radius 5px
		min-width 500px
		width 60%
		margin 10px auto
		transform scale(0)
		transition 0.3s;
		overflow hidden
		position relative

		.close-btn
			position absolute
			right 10px
			top 10px
			cursor pointer
			font-size 20px
	&.in
		opacity 1
		transform scale(1)
		transition-delay 0s
		transition opacity .3s

		.modal-box
			transform scale(1)
			transition-delay 0.3s

#taskView
	overflow auto
	
	.modal-box
		width 80%

		.player-card
			margin-top 0

			[role=button]
				position relative
				z-index 5

.task-status
	background #ffffff
	color #111111
	padding 2px 5px
	border-radius 5px 5px 0 0
	width 70px
	font-size 12px
	text-align center
	position relative
	border 1px solid #cccccc
	margin-left auto
	margin-right 10px
	margin-top 10px
	border-bottom none

	i
		font-size 5px
		color #666
		margin 0 2px

	&.bg-warning,
	&.bg-success
		color #fff
		border-color #fff

.score-sheet
	width 100%
	position relative
	input 
		background none
		box-shadow none
		border none
		outline none
		border-bottom 1px solid #cccccc
	button
		background #54ad6f
		border 1px solid #54ad6f
		box-shadow none
		text-transform uppercase
		letter-spacing 1px
.loader
	background rgba(0, 0, 0, 0.5)
	position fixed
	width 100%
	height 100%
	left 0
	top 0
	align-items center
	justify-content center
	display none

	i
		font-size 30px

	&.in
		display flex


.default-tab
	margin-top 30px
	color #111111

	.tab-headers
		.tab
			padding 10px 25px
			font-size 16px
			border-radius 5px 5px 0 0
			color #ffffff
			cursor pointer
			transition .2s

			&.active
				color #111111
				background #ffffff

	.tab-panel
		background #ffffff
		padding 25px
		border-radius 0 5px 5px 5px

		.tab-pane
			display none

			&.active
				display block

.empty-message
	text-align center
	padding 30px
	border 2px dashed #cccccc
	font-size 18px
	width 100%
	cursor pointer

.search-control
		min-width 500px

.player-card
	padding 15px
	color #ffffff
	background #333
	border-radius 5px
	margin-top 10px
	position relative
	overflow hidden
	animation-name floatRight
	animation-duration .7s
	animation-fill-mode forwards
	opacity 0

	.rank-number
		position absolute
		top 5px
		left 5px
		padding 2px 5px
		font-size 10px
		font-weight bold
		border-radius 20px

	.bg-icon
		position absolute
		right 0
		bottom 0
		transform scale(10) translateY(-10%)
		opacity 0.3
	.dp
		border-radius 100%
		overflow hidden
		
		img
			width 80px
			height 80px

	.player-email
		font-size 10px
		opacity 0.8

	.player-actions
		opacity 0
		transform translateY(-20%)
		transition .2s
		&.pending
			transform translateY(0%)
			opacity 1

	&:hover
		.player-actions
			transform translateY(0%)
			opacity 1

.label
	letter-spacing 1px
	font-weight normal

.shrink
	transform scale(0)

.badge
	padding 5px
	font-size 12px

.bdg-holder
	display flex
	flex-wrap wrap

	.badge-option
		width 10%
		margin 10px 5%
		padding 2.5%
		box-shadow 0 0 0 1px #ccc
		border-radius 5px
		opacity 0.5
		cursor pointer
		transition 0.2s
		position relative
		filter grayscale(50%)

		img
			width 100%

		.indicator
			position absolute
			right 0
			top 0
			transition 0.2s

		&:hover,
		&.selected
			opacity 1
			filter grayscale(0%)

			.indicator
				color #398439

.profile-container
	width 80%
	min-width 300px
	margin 0 auto
	padding 50px
	.user-dp
		text-align center
		color #fff
		img
			width 150px
			height 150px
			object-fit cover
			object-position center center
			border-radius 100%

		.username
			font-size 18px
			margin-top 10px
		.usertype
			margin-bottom 50px
			font-size 12px
	.input-lbl
		color #fff

	.stats
		.header
			color #ffffff
			font-weight bold
			font-size 20px
			margin-bottom 10px

		.stat-details
			padding 15px
			background #ffffff
			border-radius 5px

		.stat
			display flex
			margin-bottom 10px

			> div:first-child
				flex 1

@import '../../modules/**/*.styl';


@keyframes breathe
	from,
	to
		transform scale(1)
	
	50%
		transform scale(1, 1.01)

@keyframes fadeIn 
	from
		opacity 0
		transform translateY(-20%)
	to
		opacity 1
		transform translateY(0%)

@keyframes floatRight  
	from
		opacity 0
		transform translateX(-10%)
	to
		opacity 1
		transform translateX(0%)